.corpo{
    width: ;
    height: ;
    left: ;
    top: ;
}

.titulocorpo1{
    width: ;
    height: ;
    left: ;
    top: ;
}

.para1{
    width: ;
    height: ;
    left: ;
    top: ;
}

.para2{
    width: ;
    height: ;
    left: ;
    top: ;
}

