.corpo{
    width: ;
    height: ;
    left: ;
    top: ;
}

.titulocorpo1{
    width: ;
    height: ;
    left: ;
    top: ;
}

.para1{
    text-decoration: blue;
    text-align: justify;
}

.para2{
    width: ;
    height: ;
    left: ;
    top: ;
}

